---
import * as s from './index.css'
interface Props {
  icon: string
  qualité: string
  text: string
}
const { icon, qualité, text } = Astro.props
---

<div class={s.box.boxContainer}>
  <span class={s.box.icon}>{icon}</span>
  <h3 class={s.box.titre}>{qualité}</h3>
  <p class={s.box.text}>
    {text}
  </p>
</div>
