---
import { parser, string } from 'valibot'
import * as s from './index.css'

const MyParser = parser(string())
interface Props {
  icon: string
  qualité: string
  text: string
}
const { icon, qualité, text } = Astro.props
MyParser(icon)
MyParser(qualité)
MyParser(text)
---

<div class={s.card.wrapper}>
  <i class={s.card.icon}>{icon}</i>
  <dt class={s.card.titre}>{qualité}</dt>
  <dd class={s.card.text}>
    {text}
  </dd>
</div>
