---
import * as s from './index.css'
interface Props {
  icon: string
  qualité: string
  text: string
}
const { icon, qualité, text } = Astro.props
---

<div class={s.box.boxContainer}>
  <i class={s.box.icon}>{icon}</i>
  <dt class={s.box.titre}>{qualité}</dt>
  <dd class={s.box.text}>
    {text}
  </dd>
</div>
