---
import * as s from './footer.css'
---

<footer class={s.wrapper}>
  <div class={s.slogan}>Photographe agréé Google</div>
  {
    [
      { icon: 'A', text: 'Paris,Ile de France' },
      { icon: 'T', text: '06 70 75 50 94' }
    ].map((e) => {
      return (
        <div class={s.itemWrapper}>
          <span class={s.item}>{e.icon}</span>
          <p class={s.text}>{e.text}</p>
        </div>
      )
    })
  }
</footer>
