---
import * as s from './index.css'

import 'src/styles/global/globalStyle.css.ts'
---

<section class:list={s.contentHeroSpace}>
  <div>
    <h1 class={s.firstName}>Jonathan <span class={s.lastName}>Hayat</span></h1>
    <h4 class={s.subTitle}>Google trusted photographer</h4>
    <p class={s.text}>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, tempora incidunt. Quas ducimus eveniet, repellat consectetur natus aspernatur, aliquid, aut blanditiis facilis corporis animi unde consequatur non excepturi voluptatum velit. Odio, possimus suscipit sapiente, vel sunt libero atque optio voluptas incidunt repellendus quo. Reiciendis necessitatibus nemo, labore optio assumenda quidem culpa odit consectetur laboriosam quam, magnam eius dicta voluptatem molestias.
    </p>
    <h5 class={s.slogan}>67% des recherches de vos clients sont sur Google</h5>
  </div>

  <div class={s.image}></div>
</section>

<section>
  <div><p>photo</p></div>
  <div>
    <h2>About Me</h2>
    <h5>Ce n'est pas un metier mais ma passion</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti earum,
      voluptate nihil animi odit aspernatur minus labore reiciendis placeat,
      molestias dolores eum adipisci magnam. Quaerat facilis voluptatem
      consequatur, dolor neque autem maxime quia impedit quod temporibus
      sapiente molestiae animi et praesentium ullam corporis magnam ipsa
      explicabo eius omnis distinctio corrupti aliquam deleniti adipisci?
      Debitis quam quae molestiae inventore reprehenderit eligendi sint natus
      labore totam, ipsum, sunt at tenetur odio eius facilis repudiandae libero
      omnis vero. Pariatur odit reprehenderit est, quibusdam et labore quam,
      magnam maiores quos quis nesciunt dolore exercitationem. Voluptates esse
      aut ipsam laboriosam eum dolorum vitae quo blanditiis!
    </p>
    <ul>
      <li>Equipement de qualité</li>
      <li>Acréditation Google France</li>
      <li>perfexioniste</li>
    </ul>
  </div>
</section>

<section>
  <h2>Avantages</h2>
</section>
