---
import * as s from './Hero.css'

---

<section class={s.contentHeroSpace}>
  <div>
    <h1 class={s.firstName}>
      Jonathan <span class={s.lastName}>Hppayiat</span>
    </h1>
    <h4 class={s.subTitle}>Google trusted photographer</h4>
    <p class={s.text}>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, tempora
      incidunt. Quas ducimus eveniet, repellat consectetur natus aspernatur,
      aliquid, aut blanditiis facilis corporis animi unde consequatur non
      excepturi voluptatum velit. Odio, possimus suscipit sapiente, vel sunt
      libero atque optio voluptas incidunt repellendus quo. Reiciendis
      necessitatibus nemo, labore optio assumenda quidem culpa odit consectetur
      laboriosam quam, magnam eius dicta voluptatem molestias.
    </p>
    <h5 class={s.slogan}>67% des recherches de vos clients sont sur Google</h5>
  </div>

  <div class={s.image}></div>
</section>


