---
import { type CollectionEntry, getCollection } from 'astro:content'
import { render } from 'astro:content'
import Iframe from '@/components/Articles/Iframe.astro'
import BtnTop from '@/components/Articles/btnTop'
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('business')
  return [...posts].map(post => ({
    params: { slug: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<'business'>
//const { slug } = Astro.params
const post = Astro.props
if (!post) {
  throw new Error('Post not found')
}
const { Content } = await render(post)
import s from '@/components/Articles/main.css'
---

<Layout>
  <section class={s.section}>
    <div class={s.content}>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
      <p>Price: {post.data.price} €</p>
      <Content />
    </div>
    <BtnTop />
    <div class={s.wrapperIframe}>
      <Iframe Link={post.data.Link} />
      <div>contact moi</div>
    </div>
  </section>

  <style>
    ul li {
      color: red !important;
    }
  </style>
</Layout>
