---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
const posts = await getCollection('business')
import { ListPage as s } from '@styles/main.css'
---

<Layout>
  <section class={s.section}>
    <h1>Mes articles</h1>
    <ul class={s.ul}>
      
      {
        posts.map((post) => (
          <li class={s.li}>
            <a class={s.a} href={`/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>