---
import * as s from './pricing.css.ts'
---

<section class={s.section}>
  <div class={s.Box1Wrapper}>
    <h2 class={s.Box1.prixApartir}>450€ TTC</h2>

    <ul class={s.Box1.ul}>
      <li>360° scanning of the entire surface of the establishment</li>
      <li>Mounting and assembling of panoramics</li>
      <li>Publishing images on Google</li>
      <li>Panoramic delivery by email</li>
      <li>HTML code for website integration</li>
    </ul>
    <button class={s.Box1.button} type="button">Contact</button>
  </div>
  <div class={s.image}></div>
</section>
