---
import { Image } from 'astro:assets'
import MoiPhoto from '@/assets/images/portrait 2.jpg'
import * as s from './aboutMe.css'
---

<svg class={s.image2.svgNoShow}>
  <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
    <path
      d="M1,0.071 C1,0.032,0.968,0,0.929,0 H0.071 C0.032,0,0,0.032,0,0.071 V0.929 C0,0.968,0.032,1,0.071,1 H0.619 C0.658,1,0.69,0.968,0.69,0.929 V0.761 C0.69,0.722,0.722,0.69,0.761,0.69 H0.929 C0.968,0.69,1,0.658,1,0.619 V0.071">
    </path>
  </clipPath>
</svg>
<section class={s.contentHeroSpace}>
  <div class={s.image2.wrapper}>
    <Image class={s.image2.image} src={MoiPhoto} alt="Moi" />
    <span class={s.image2.slogan}>C'est moi !</span>
  </div>
  <div>
    <h2>About Me</h2>
    <h5>Ce n'est pas un metier mais ma passion</h5>
    <p>
      Aujourd'hui, une présence en ligne est indispensable pour tout commerce.
      Google Street View offre la solution parfaite pour mettre en valeur votre
      établissement en haute définition sur Google Maps et Google Street View,
      vous permettant ainsi d'augmenter votre visibilité et d'attirer de
      nouveaux clients.
    </p>
    <ul class={s.aboutMeList}>
      <li>Equipement de qualité</li>
      <li>Acréditation Google France</li>
      <li>+10ans d'expérience</li>
    </ul>
  </div>
</section>
