---
import { Image } from 'astro:assets'
import MoiPhoto from '@/assets/images/portrait 2.jpg'
import * as s from './aboutMe.css'
---

<section class={s.contentHeroSpace}>
  <div class={s.image2.wrapper}>
    <Image class={s.image2.image} src={MoiPhoto} alt="Moi" />
    <span class={s.image2.slogan}>C'est moi !</span>
  </div>
  <div>
    <h2>About Me</h2>
    <h5>Ce n'est pas un metier mais ma passion</h5>
    <p>
      Aujourd'hui, une présence en ligne est indispensable pour tout commerce.
      Google Street View offre la solution parfaite pour mettre en valeur votre
      établissement en haute définition sur Google Maps et Google Street View,
      vous permettant ainsi d'augmenter votre visibilité et d'attirer de
      nouveaux clients.
    </p>
    <ul class={s.aboutMeList}>
      <li>Equipement de qualité</li>
      <li>Acréditation Google France</li>
      <li>+10ans d'expérience</li>
    </ul>
  </div>
</section>
