---
import * as s from './pricing.css.ts'
---

<section class={s.section}>
  <div class={s.textBox}>
    <span class="text-amber-800 @dark:text-amber-200 text-md">À partir de</span>
    <h2 class={s.prixApartir}>450€ TTC</h2>
    <!-- <h1>{PriceContextHover}</h1> -->
    <ul class={s.ul}>
      <li>360° scanning of the entire surface of the establishment</li>
      <li>Mounting and assembling of panoramics</li>
      <li>Publishing images on Google</li>
      <li>Panoramic delivery by email</li>
      <li>HTML code for website integration</li>
      <button class={s.button} type="button">Contact</button>
    </ul>
  </div>
  <div class={s.image}></div>
</section>
