---
import * as s from './Hero.css'
import VideoContainerQwikAstro from './video/Video.astro'
---

<section class={s.contentHeroSpace}>
  <div>
    <h1 class={s.name.firstName}>
      Jonathan <span class={s.name.lastName}>Hayat</span>
    </h1>
    <h4 class={s.subTitle}>Photographe Google trusted</h4>
    <p class={s.text}>
      Chaque commerce a besoin d'une vitrine en ligne. Google Street View est la
      solution idéale pour mettre en avant votre établissement en HD sur Google
      Maps et Google Street View.
    </p>
    <h5 class={s.slogan}>67% des recherches de vos clients sont sur Google</h5>
  </div>

  <VideoContainerQwikAstro />

</section>
